
/* GENERIC */
.background-gradient {
    background-image: linear-gradient(to bottom, #19183a, #2A183B);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.navbar-bg-color{
    background-color: #4b419f;
    color: white;
}

.navi-link{
    color: #ffffff;
}

.navi-link:hover{
    color: #87d3e2;
}

.links-text{
    font-style: normal;
    font-size: large;
    color: white;
    text-decoration: none;
}

.profile-img{
    max-width: 30%;
    height: 30%;
    margin-right: 5%;
}

.profile-text{
    font-size: x-large;
}

.container-bg-color {
    background-color: #708993;
}

/* MODS PAGE */
.card-websitemod {
    position: relative;
    overflow: hidden;
    z-index: 1;  
}

.card-body {
    z-index: 20;
}

.zoom-img {
    width: 320px fit-content;
    height: 180px fit-content;
    position: relative;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.card-websitemod:hover .zoom-img {
    transform: scale(1.15);
    z-index: 5;
}